* {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  font-size: 20px;
}

.navbar-brand img {
  height: 150px;
}
.navbar {
  height: 165px;
}
.nav-link {
  color: black;
  font-size: 15px;
}

.faq-container {
  margin-top: 230px;
  text-align: center;
}

.about-container {
  margin-top: 230px;
}
.ala_carte {
  text-align: center;
}
.card {
  margin: 40px;
}
.btn {
  margin-top: 20px;
}

.col-sm img {
  height: 300px;
}

.about-footer {
  border: 1px solid red;
  height: 400px;
}
@media (max-width: 834px) {
  .navbar-brand img {
    height: 140px;
  }
  .masthead {
    margin-top: 150px;
    height: 270px;
  }
  .about_area {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar {
    height: 160px;
    display: flex;
  }

  .nav-item {
    margin-top: 30px;
  }

  .col-sm img {
    height: 150px;
  }
  .carousel_container {
    margin: 50px 0 20px 0;
  }
}

.card-header {
  background-color: F8F9FA;
}
.btn-link {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  .masthead {
    margin-top: 180px;
  }

  .navbar {
    height: 200px;
  }

  .nav-item {
    margin-top: 0;
    margin-left: 30px;
  }

  .about_img {
    display: block;
    margin: 0 auto;
  }
  .about_full {
    display: none;
  }
  .carousel_container {
    margin: 0 0 20px 0;
  }
  .col-sm img {
    height: auto;
    padding: 5px;
  }
  .service_end {
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.about_area .about_info {
  padding-left: 68px;
  margin: 60px;
}

@media (max-width: 767px) {
  .about_area .about_info {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_area .about_info {
    padding-left: 0;
  }
}

.about_area .about_info p {
  font-size: 16px;
  line-height: 28px;
  font-size: 16px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 47px;
}

.d-block {
  margin-bottom: 25px;
}

.carousel_item resources/img {
  width: auto;
  height: 225px;
  max-height: 225px;
}
.footer {
  background-color: #b3e8cf;
  text-align: center;
}

.footer_left {
  border-right: 1px solid black;
}

.copyright {
  text-align: center;
  margin-top: 30px;
}
